.header {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #004225;
}

.navbar {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

a {
    font-size: 20px;
    text-decoration: underline;
    color: black;
    padding: 5px;
}